.bdy_bcgrd {
  background-color: #F0ECF5;
  margin-top: -20px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
  height: 150px;
}

.body {
  margin: 0 !important;
  padding: 0 !important;
}

#p_1 {
  font-family: "courier new", monospace;
  margin-left: 0;
  margin-right: 50%;
  margin-top: 0;
  margin-bottom: 0;
  height: 100px;
  background-color: blue;
}

#p_2 {
  font-family: "courier new", monospace;
  margin-left: 50%;
  margin-right: 0%;
  margin-top: 0;
  margin-bottom: 0;
  height: 100px;
  background-color: green;
}
