.top-container {
  background-color: #B0C7A5;
  height: 500px;
  width: 2000px;
  margin-top: -20px;
  margin-left: -20px;
}

.middle-container {
  background-color: #98B28C;
  height: 500px;
  width: 2000px;
  margin-left: -20px;
}

.bottom-container {
  background-color: #6C925B;
  height: 500px;
  width: 2000px;
  margin-left: -20px;
  margin-bottom: -20px;
}
