.top-container {
  background-color: #B0C7A5;
  height: 200px;
  width: 200px;
  padding: 20px;
  border: solid 10px black;
  margin: -8px 0px 0px -8px;

}

.middle-container {
  background-color: #98B28C;
  height: 200px;
  width: 200px;
  border: solid black 20px;
  margin-left: 250px;
}

.bottom-container {
  background-color: #6C925B;
  height: 200px;
  width: 200px;
  border: solid 10px black;
  margin-left: 490px;
}
